body { 
	padding-top: 50px;
	overflow-x: hidden;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}	

#title {
	background: rgba(220, 220, 220, 0.5);
	margin-top: 200px;
	padding: 30px;
}

#title h3 {
	color: #fff;
}

.header {
	font-family: 'Droid Serif', Georgia, Times, serif;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 40px;
	color: #000;
	font-size: 28px;
    line-height: 40px;
}

p {
    font-size: 14px;
    line-height: 25px;
}

#home {
	background: url('../images/office_bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 550px;
	padding: 0 50px
}

#past-work {
	background: #fff;
	padding: 10px 50px 120px 50px;
}

#technologies-skills {
	background: #ececea;
}

#technologies-skills img {
	margin-bottom: 10px;
}

#philosophy {
	background: #fff;
	padding: 10px 50px 120px 50px;
}

#contact {
	background: #ececea;
	padding: 10px 50px 180px 50px;
}

.carousel-control.left {
 	filter:progid:DXImageTransform.Microsoft.gradient(enabled='false')
}

.carousel-control.right {
 	filter:progid:DXImageTransform.Microsoft.gradient(enabled='false')
}

/* MOBILE PHONE PORTRAIT */
@media only screen 
and (max-device-width : 1080px) {
/* Styles */
/* img[data-src-mobile] { content: attr(data-src-mobile, url); }*/
#technologies-skills img {
	width: 100px;
	height: 100px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}