body { 
	padding-top: 50px;
	overflow-x: hidden;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}	

.header {
	font-family: 'Droid Serif', Georgia, Times, serif;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             	 0px 8px 13px rgba(0,0,0,0.1),
             	 0px 18px 23px rgba(0,0,0,0.1);
	margin-top: 30px;
	margin-bottom: 40px;
	color: #fff;
	font-size: 33px;
    line-height: 40px;
}

p {
    font-size: 14px;
    line-height: 25px;
}

#home {
	background: url('../images/golden_gate_bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
	padding: 0 50px
}

#past-work {
	background: #FFE361;
	padding: 10px 50px 120px 50px;
}

#technologies-skills {
	background: #D2D2D3;
	padding: 10px 50px 120px 50px;
}

#technologies-skills img {
	margin-bottom: 10px;
}

#philosophy {
	background: #FFE361;
	padding: 10px 50px 80px 50px;
}

#contact {
	background: #D2D2D3;
	padding: 10px 50px 180px 50px;
}


/* MOBILE PHONE PORTRAIT */
@media only screen 
and (max-device-width : 1080px) {
/* Styles */
/* img[data-src-mobile] { content: attr(data-src-mobile, url); }*/
#technologies-skills img {
	width: 100px;
	height: 100px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}